.DS_Store
.gradle/
.kotlin/
build/
captures/
.externalNativeBuild
.cxx
local.properties
.idea/
*.iml
*.apk
*.aab
*.keystore
*.jks
*.p12
keystore.properties
!.gitignore
.flutter_reference/
/.codebuddy/
