.DS_Store
.atom/
.idea
.vscode/
.packages
.pub/
build/
ios/.generated/
packages
.flutter-plugins
key.properties
/.dart_tool/extension_discovery/devtools.json
/.dart_tool/extension_discovery/vs_code.json
/.dart_tool/flutter_build/1d1f9ddbbe65167d0fb5396cce15b8f3/.filecache
/.dart_tool/flutter_build/1d1f9ddbbe65167d0fb5396cce15b8f3/app.dill
/.dart_tool/flutter_build/1d1f9ddbbe65167d0fb5396cce15b8f3/dart_build.d
/.dart_tool/flutter_build/1d1f9ddbbe65167d0fb5396cce15b8f3/dart_build.stamp
/.dart_tool/flutter_build/1d1f9ddbbe65167d0fb5396cce15b8f3/dart_build_result.json
/.dart_tool/flutter_build/1d1f9ddbbe65167d0fb5396cce15b8f3/debug_android_application.stamp
/.dart_tool/flutter_build/1d1f9ddbbe65167d0fb5396cce15b8f3/flutter_assets.d
/.dart_tool/flutter_build/1d1f9ddbbe65167d0fb5396cce15b8f3/gen_dart_plugin_registrant.stamp
/.dart_tool/flutter_build/1d1f9ddbbe65167d0fb5396cce15b8f3/gen_localizations.stamp
/.dart_tool/flutter_build/1d1f9ddbbe65167d0fb5396cce15b8f3/install_code_assets.d
/.dart_tool/flutter_build/1d1f9ddbbe65167d0fb5396cce15b8f3/install_code_assets.stamp
/.dart_tool/flutter_build/1d1f9ddbbe65167d0fb5396cce15b8f3/kernel_snapshot_program.d
/.dart_tool/flutter_build/1d1f9ddbbe65167d0fb5396cce15b8f3/kernel_snapshot_program.stamp
/.dart_tool/flutter_build/1d1f9ddbbe65167d0fb5396cce15b8f3/native_assets.json
/.dart_tool/flutter_build/1d1f9ddbbe65167d0fb5396cce15b8f3/outputs.json
/.dart_tool/flutter_build/5a685cd513e6c6642a069245b3746098/.filecache
/.dart_tool/flutter_build/5a685cd513e6c6642a069245b3746098/app.dill
/.dart_tool/flutter_build/5a685cd513e6c6642a069245b3746098/dart_build.d
/.dart_tool/flutter_build/5a685cd513e6c6642a069245b3746098/dart_build.stamp
/.dart_tool/flutter_build/5a685cd513e6c6642a069245b3746098/dart_build_result.json
/.dart_tool/flutter_build/5a685cd513e6c6642a069245b3746098/debug_android_application.stamp
/.dart_tool/flutter_build/5a685cd513e6c6642a069245b3746098/flutter_assets.d
/.dart_tool/flutter_build/5a685cd513e6c6642a069245b3746098/gen_dart_plugin_registrant.stamp
/.dart_tool/flutter_build/5a685cd513e6c6642a069245b3746098/gen_localizations.stamp
/.dart_tool/flutter_build/5a685cd513e6c6642a069245b3746098/install_code_assets.d
/.dart_tool/flutter_build/5a685cd513e6c6642a069245b3746098/install_code_assets.stamp
/.dart_tool/flutter_build/5a685cd513e6c6642a069245b3746098/kernel_snapshot_program.d
/.dart_tool/flutter_build/5a685cd513e6c6642a069245b3746098/kernel_snapshot_program.stamp
/.dart_tool/flutter_build/5a685cd513e6c6642a069245b3746098/native_assets.json
/.dart_tool/flutter_build/5a685cd513e6c6642a069245b3746098/outputs.json
/.dart_tool/flutter_build/88e419fa47bc6add5ef29cecd379bcb7/.filecache
/.dart_tool/flutter_build/88e419fa47bc6add5ef29cecd379bcb7/app.dill
/.dart_tool/flutter_build/88e419fa47bc6add5ef29cecd379bcb7/dart_build.d
/.dart_tool/flutter_build/88e419fa47bc6add5ef29cecd379bcb7/dart_build.stamp
/.dart_tool/flutter_build/88e419fa47bc6add5ef29cecd379bcb7/dart_build_result.json
/.dart_tool/flutter_build/88e419fa47bc6add5ef29cecd379bcb7/debug_android_application.stamp
/.dart_tool/flutter_build/88e419fa47bc6add5ef29cecd379bcb7/flutter_assets.d
/.dart_tool/flutter_build/88e419fa47bc6add5ef29cecd379bcb7/gen_dart_plugin_registrant.stamp
/.dart_tool/flutter_build/88e419fa47bc6add5ef29cecd379bcb7/gen_localizations.stamp
/.dart_tool/flutter_build/88e419fa47bc6add5ef29cecd379bcb7/install_code_assets.d
/.dart_tool/flutter_build/88e419fa47bc6add5ef29cecd379bcb7/install_code_assets.stamp
/.dart_tool/flutter_build/88e419fa47bc6add5ef29cecd379bcb7/kernel_snapshot_program.d
/.dart_tool/flutter_build/88e419fa47bc6add5ef29cecd379bcb7/kernel_snapshot_program.stamp
/.dart_tool/flutter_build/88e419fa47bc6add5ef29cecd379bcb7/native_assets.json
/.dart_tool/flutter_build/88e419fa47bc6add5ef29cecd379bcb7/outputs.json
/.dart_tool/flutter_build/7882b3c22a263a5b3ab9d9de5ad4b16b/.filecache
/.dart_tool/flutter_build/7882b3c22a263a5b3ab9d9de5ad4b16b/app.dill
/.dart_tool/flutter_build/7882b3c22a263a5b3ab9d9de5ad4b16b/dart_build.d
/.dart_tool/flutter_build/7882b3c22a263a5b3ab9d9de5ad4b16b/dart_build.stamp
/.dart_tool/flutter_build/7882b3c22a263a5b3ab9d9de5ad4b16b/dart_build_result.json
/.dart_tool/flutter_build/7882b3c22a263a5b3ab9d9de5ad4b16b/debug_android_application.stamp
/.dart_tool/flutter_build/7882b3c22a263a5b3ab9d9de5ad4b16b/flutter_assets.d
/.dart_tool/flutter_build/7882b3c22a263a5b3ab9d9de5ad4b16b/gen_dart_plugin_registrant.stamp
/.dart_tool/flutter_build/7882b3c22a263a5b3ab9d9de5ad4b16b/gen_localizations.stamp
/.dart_tool/flutter_build/7882b3c22a263a5b3ab9d9de5ad4b16b/install_code_assets.d
/.dart_tool/flutter_build/7882b3c22a263a5b3ab9d9de5ad4b16b/install_code_assets.stamp
/.dart_tool/flutter_build/7882b3c22a263a5b3ab9d9de5ad4b16b/kernel_snapshot_program.d
/.dart_tool/flutter_build/7882b3c22a263a5b3ab9d9de5ad4b16b/kernel_snapshot_program.stamp
/.dart_tool/flutter_build/7882b3c22a263a5b3ab9d9de5ad4b16b/native_assets.json
/.dart_tool/flutter_build/7882b3c22a263a5b3ab9d9de5ad4b16b/outputs.json
/.dart_tool/flutter_build/41272f4f040c2df672524c4913243fb4/arm64-v8a/app.so
/.dart_tool/flutter_build/41272f4f040c2df672524c4913243fb4/armeabi-v7a/app.so
/.dart_tool/flutter_build/41272f4f040c2df672524c4913243fb4/x86_64/app.so
/.dart_tool/flutter_build/41272f4f040c2df672524c4913243fb4/.filecache
/.dart_tool/flutter_build/41272f4f040c2df672524c4913243fb4/_composite.stamp
/.dart_tool/flutter_build/41272f4f040c2df672524c4913243fb4/android_aot_bundle_release_android-arm.stamp
/.dart_tool/flutter_build/41272f4f040c2df672524c4913243fb4/android_aot_bundle_release_android-arm64.stamp
/.dart_tool/flutter_build/41272f4f040c2df672524c4913243fb4/android_aot_bundle_release_android-x64.stamp
/.dart_tool/flutter_build/41272f4f040c2df672524c4913243fb4/android_aot_release_android-arm.stamp
/.dart_tool/flutter_build/41272f4f040c2df672524c4913243fb4/android_aot_release_android-arm64.stamp
/.dart_tool/flutter_build/41272f4f040c2df672524c4913243fb4/android_aot_release_android-x64.stamp
/.dart_tool/flutter_build/41272f4f040c2df672524c4913243fb4/aot_android_asset_bundle.stamp
/.dart_tool/flutter_build/41272f4f040c2df672524c4913243fb4/app.dill
/.dart_tool/flutter_build/41272f4f040c2df672524c4913243fb4/dart_build.d
/.dart_tool/flutter_build/41272f4f040c2df672524c4913243fb4/dart_build.stamp
/.dart_tool/flutter_build/41272f4f040c2df672524c4913243fb4/dart_build_result.json
/.dart_tool/flutter_build/41272f4f040c2df672524c4913243fb4/flutter_android_aot_bundle_release_android-arm.d
/.dart_tool/flutter_build/41272f4f040c2df672524c4913243fb4/flutter_android_aot_bundle_release_android-arm64.d
/.dart_tool/flutter_build/41272f4f040c2df672524c4913243fb4/flutter_android_aot_bundle_release_android-x64.d
/.dart_tool/flutter_build/41272f4f040c2df672524c4913243fb4/flutter_android_aot_release_android-arm.d
/.dart_tool/flutter_build/41272f4f040c2df672524c4913243fb4/flutter_android_aot_release_android-arm64.d
/.dart_tool/flutter_build/41272f4f040c2df672524c4913243fb4/flutter_android_aot_release_android-x64.d
/.dart_tool/flutter_build/41272f4f040c2df672524c4913243fb4/flutter_assets.d
/.dart_tool/flutter_build/41272f4f040c2df672524c4913243fb4/gen_dart_plugin_registrant.stamp
/.dart_tool/flutter_build/41272f4f040c2df672524c4913243fb4/gen_localizations.stamp
/.dart_tool/flutter_build/41272f4f040c2df672524c4913243fb4/install_code_assets.d
/.dart_tool/flutter_build/41272f4f040c2df672524c4913243fb4/install_code_assets.stamp
/.dart_tool/flutter_build/41272f4f040c2df672524c4913243fb4/kernel_snapshot_program.d
/.dart_tool/flutter_build/41272f4f040c2df672524c4913243fb4/kernel_snapshot_program.stamp
/.dart_tool/flutter_build/41272f4f040c2df672524c4913243fb4/native_assets.json
/.dart_tool/flutter_build/41272f4f040c2df672524c4913243fb4/outputs.json
/.dart_tool/flutter_build/d3cc6a40e839dce6710d0951fffc06db/.filecache
/.dart_tool/flutter_build/d3cc6a40e839dce6710d0951fffc06db/app.dill
/.dart_tool/flutter_build/d3cc6a40e839dce6710d0951fffc06db/dart_build.d
/.dart_tool/flutter_build/d3cc6a40e839dce6710d0951fffc06db/dart_build.stamp
/.dart_tool/flutter_build/d3cc6a40e839dce6710d0951fffc06db/dart_build_result.json
/.dart_tool/flutter_build/d3cc6a40e839dce6710d0951fffc06db/gen_dart_plugin_registrant.stamp
/.dart_tool/flutter_build/d3cc6a40e839dce6710d0951fffc06db/gen_localizations.stamp
/.dart_tool/flutter_build/d3cc6a40e839dce6710d0951fffc06db/install_code_assets.d
/.dart_tool/flutter_build/d3cc6a40e839dce6710d0951fffc06db/install_code_assets.stamp
/.dart_tool/flutter_build/d3cc6a40e839dce6710d0951fffc06db/kernel_snapshot_program.d
/.dart_tool/flutter_build/d3cc6a40e839dce6710d0951fffc06db/native_assets.json
/.dart_tool/flutter_build/d3cc6a40e839dce6710d0951fffc06db/outputs.json
/.dart_tool/flutter_build/dart_plugin_registrant.dart
/.dart_tool/hooks_runner/objective_c/00e34ffc1a/.lock
/.dart_tool/hooks_runner/objective_c/00e34ffc1a/dependencies.dependencies_hash_file.json
/.dart_tool/hooks_runner/objective_c/00e34ffc1a/hook.dependencies_hash_file.json
/.dart_tool/hooks_runner/objective_c/00e34ffc1a/hook.dill
/.dart_tool/hooks_runner/objective_c/00e34ffc1a/hook.dill.d
/.dart_tool/hooks_runner/objective_c/00e34ffc1a/input.json
/.dart_tool/hooks_runner/objective_c/00e34ffc1a/output.json
/.dart_tool/hooks_runner/objective_c/00e34ffc1a/stderr.txt
/.dart_tool/hooks_runner/objective_c/00e34ffc1a/stdout.txt
/.dart_tool/hooks_runner/objective_c/337ce265dc/.lock
/.dart_tool/hooks_runner/objective_c/337ce265dc/dependencies.dependencies_hash_file.json
/.dart_tool/hooks_runner/objective_c/337ce265dc/hook.dependencies_hash_file.json
/.dart_tool/hooks_runner/objective_c/337ce265dc/hook.dill
/.dart_tool/hooks_runner/objective_c/337ce265dc/hook.dill.d
/.dart_tool/hooks_runner/objective_c/337ce265dc/input.json
/.dart_tool/hooks_runner/objective_c/337ce265dc/output.json
/.dart_tool/hooks_runner/objective_c/337ce265dc/stderr.txt
/.dart_tool/hooks_runner/objective_c/337ce265dc/stdout.txt
/.dart_tool/hooks_runner/objective_c/740ada08e4/.lock
/.dart_tool/hooks_runner/objective_c/740ada08e4/dependencies.dependencies_hash_file.json
/.dart_tool/hooks_runner/objective_c/740ada08e4/hook.dependencies_hash_file.json
/.dart_tool/hooks_runner/objective_c/740ada08e4/hook.dill
/.dart_tool/hooks_runner/objective_c/740ada08e4/hook.dill.d
/.dart_tool/hooks_runner/objective_c/740ada08e4/input.json
/.dart_tool/hooks_runner/objective_c/740ada08e4/output.json
/.dart_tool/hooks_runner/objective_c/740ada08e4/stderr.txt
/.dart_tool/hooks_runner/objective_c/740ada08e4/stdout.txt
/.dart_tool/hooks_runner/objective_c/bd394c44ea/.lock
/.dart_tool/hooks_runner/objective_c/bd394c44ea/dependencies.dependencies_hash_file.json
/.dart_tool/hooks_runner/objective_c/bd394c44ea/hook.dependencies_hash_file.json
/.dart_tool/hooks_runner/objective_c/bd394c44ea/hook.dill
/.dart_tool/hooks_runner/objective_c/bd394c44ea/hook.dill.d
/.dart_tool/hooks_runner/objective_c/bd394c44ea/input.json
/.dart_tool/hooks_runner/objective_c/bd394c44ea/output.json
/.dart_tool/hooks_runner/objective_c/bd394c44ea/stderr.txt
/.dart_tool/hooks_runner/objective_c/bd394c44ea/stdout.txt
/.dart_tool/hooks_runner/objective_c/ce79053818/.lock
/.dart_tool/hooks_runner/objective_c/ce79053818/dependencies.dependencies_hash_file.json
/.dart_tool/hooks_runner/objective_c/ce79053818/hook.dependencies_hash_file.json
/.dart_tool/hooks_runner/objective_c/ce79053818/hook.dill
/.dart_tool/hooks_runner/objective_c/ce79053818/hook.dill.d
/.dart_tool/hooks_runner/objective_c/ce79053818/input.json
/.dart_tool/hooks_runner/objective_c/ce79053818/output.json
/.dart_tool/hooks_runner/objective_c/ce79053818/stderr.txt
/.dart_tool/hooks_runner/objective_c/ce79053818/stdout.txt
/.dart_tool/hooks_runner/objective_c/f70fdcbd01/.lock
/.dart_tool/hooks_runner/objective_c/f70fdcbd01/dependencies.dependencies_hash_file.json
/.dart_tool/hooks_runner/objective_c/f70fdcbd01/hook.dependencies_hash_file.json
/.dart_tool/hooks_runner/objective_c/f70fdcbd01/hook.dill
/.dart_tool/hooks_runner/objective_c/f70fdcbd01/hook.dill.d
/.dart_tool/hooks_runner/objective_c/f70fdcbd01/input.json
/.dart_tool/hooks_runner/objective_c/f70fdcbd01/output.json
/.dart_tool/hooks_runner/objective_c/f70fdcbd01/stderr.txt
/.dart_tool/hooks_runner/objective_c/f70fdcbd01/stdout.txt
/.dart_tool/hooks_runner/shared/objective_c/.lock
/.dart_tool/package_config.json
/.dart_tool/package_graph.json
/.dart_tool/version
/android/.kotlin/errors/errors-1785051939815.log
